

body > .grid {
    height: 100%;
  }
  .column {
    max-width: 450px;
    background-color: #fff;
    margin: 0 auto;

    padding: 100px;
    text-align: center;
   /* border-radius */
    border-radius: 20px;
   /* box-shadow */
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  

  }
  .backgroudColorPagination {

    background-color: #000; 
  }